
*{
    margin:0px;padding:0px;
    font-family: 'Noto Sans JP', sans-serif;
}
body{
    background-color:#F9F2ED;
    width:100vw;
    height:100vh;
}
.title{
    height: 80px;
    width: 100%;
    background-color:#FFB562;
    position: fixed;
    z-index: 1;
}
.titletext{
    top: 25px;
    font-size:20px;
    transition: 0.1s;
    position: absolute;
    left: 80px;
}
.pasta{
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    transition: 0.1s;
    position: absolute;
}
.pasta:hover{
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
}
.main{
    top:80px;
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
}
.chatscroll{
    overflow-y: scroll;
    width:500px;
    height: calc(100% - 80px);
    margin: 0 auto;
    background-color: #F9F2ED;
}
.chat{
    width: 100px;
    height: 100px;
}
.input{
    margin: 0 auto;
    width: 500px;
    height: 80px;
    position: relative;
}
.text{
    top:20%;
    left:15%;
    width: calc(60% - 8px);;
    height: 50%;
    font-size: 16px;
    position: absolute;
    background-color:#F9F2ED;
    border: 4px solid #3AB0FF;
}
.text:focus {
    outline: 0;
    border: 4px solid #3AB0FF;
}
.send {
    top:20%;
    left:0%;
    height: calc(60% - 8px);
	text-align: center;
	width: calc(10% - 8px);
	border: 4px solid #3AB0FF;
	color: #3AB0FF;
    position: absolute;
    line-height:40px;
    user-select: none;
}
.send:hover {
	color: #F9F2ED;
	background: #3AB0FF;
}
.color {
    position: absolute;
    top:20%;
    left:70%;
    height: 60%;
    line-height:40px;
    user-select: none;
    width: calc(10% - 8px);;
    border: 4px solid #3AB0FF;
    background: #F9F2ED;
}
