
*{
    margin:0px;padding:0px;
}
body{
    background-color:#F9F2ED;
    width:100vw;
    height:100vh;
}
.title{
    height: 80px;
    width: 100%;
    background-color:#FFB562;
    position: fixed;
    z-index: 1;
}
.titletext{
    top: 25px;
    font-size:20px;
    transition: 0.1s;
    font-family: 'Noto Sans JP', sans-serif;
    position: fixed;
    left: 80px;
}
.pasta{
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    transition: 0.1s;
    position: fixed;
}
.pasta:hover{
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
}
.main{
    width: 100%;
    height: 100%;
    z-index: 2;
}
.chatscroll{
    overflow-y: scroll;
    width:60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #F9F2ED;
}
.chat{
    width: 100px;
    height: 100px;
}
.chatscroll::-webkit-scrollbar{
    display:none;
}
