
*{
    margin:0px;padding:0px;
}
body{
    background-color:floralwhite;
}
.title{
    height: 20vh;
}
.title > *{
    line-height: 20vh;
}
.titletext{
    font-size:10vh;
    font-family: 'Noto Sans JP', sans-serif;
}
.pasta{
    font-size:10vh;
}
.main{
    bottom:0px;
    position:absolute;
    width: 100vw;
    height: 80vh;
}
.chatscroll{
    overflow-y: scroll;
    text-align: center;
    height: 80vh;
}
.chat{
    width: 100px;
    height: 100px;
}
